/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

input::-webkit-input-placeholder {
    color:    #999;
}
input:-moz-placeholder {
    color:    #999;
}
input:-ms-input-placeholder {
    color:    #999;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    /* padding: 150px 10px;
    font-size: 20px;*/
    line-height: 1.4;
    color: #4B2B16;
    background: #E4BD82 url("../images/bg.gif") repeat;
    height: 100%;
}

html, input { font-family: "lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif; }
h1 span { color: #bbb; }
p { margin: 1em 0; }
button { margin: 1.5em .5em 0; float: right; }

input {
    margin: 1em 0 0;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 0 #000,inset 0 3px 3px #eee;
    -webkit-box-shadow: 0 0 0 black,inset 0 3px 3px #EEE;
    box-shadow: 0 0 0 black,inset 0 3px 3px #EEE;
    padding: 5px;
}

header {
    background-color: #6D0D00;
    background-image: -moz-linear-gradient(left,#1B0300 0,#6D0D00 50%,#1B0300 100%);
    background-image: -webkit-gradient(linear,0% 0%,100% 0%,color-stop(0,#1B0300),color-stop(50%,#6D0D00),color-stop(100%,#1B0300));
    background-image: -o-linear-gradient(left,#1B0300 0,#6D0D00 50%,#1B0300 100%);
    background-image: -ms-linear-gradient(left,#1B0300 0,#6D0D00 50%,#1B0300 100%);
    border-top: 3px solid black;
    color: white;
    margin: 0 auto;
    position: relative;
    width: 100%;
    z-index: 20000000;
    height : 40px;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

nav {
    margin: 0 auto;
    position: relative;
    width: 1044px;
}
nav p {
    padding: 0 15px;
    border-right: 1px solid #8A3D33;
}

nav p:last-child {
    float: right;
    border-right: none;
}

header p {
    float: left;
}

footer {
    bottom: 0;
    height: 25px;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 20000000;
    box-shadow: 0 0 10px 0px #333;
    -webkit-box-shadow: 0 0 10px 0px #333;
    transition: all 200ms ease-in 200ms;
    -webkit-transition: all 200ms ease-in 200ms;
}

.main-outside-container {
    padding: 4em 1.5em;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 5.5em auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
    width: 500px;
}

.container {
    max-width: 22em;
    margin: 2.5em auto;
}
.gravatar-text { font-size: .7em; }

.new-account {
    font-size: .5em;
    float: right;
    text-align: center;
}

#logout {
    cursor: pointer;
}
/* ==========================================================================
   Game Area
   ========================================================================== */

.game-board-outside-container {
    margin: 5.5em auto;
    text-align: center;
}
.game-board-chat-container {
    margin: auto;
    text-align: center;
}

/* ==========================================================================
   Lobby Area
   ========================================================================== */
.game-outside-container {
    opacity: 0.7;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #B3B3B3;
    border-radius: 4px;
    margin: 5.5em auto;
    box-shadow: 0 1px 10px #A7A7A7, inset 0 1px 0 white;
    background: #FCFCFC;
    width: 700px;
    height: auto;

}

#lobby-chat-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: #F2F2F2;
    color: #6D0D00;
    width: 60%;
    height: 400px;

    padding: 8px;
    margin: 0px;
    list-style: none;
    float: left;
    overflow: auto;
}


#online-users-box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    background-color: white;
    color: #6D0D00;
    width: 40%;
    height: 400px;

    border-left: 2px solid #8A3D33;

    padding: 8px;
    margin: 0px;
    list-style: none;
    float: left;
    overflow: auto;
    text-align: left;
}


li.green {
    cursor: pointer;
    /*
    background-image: url(bullet_doc.gif);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 3px 0 3px 20px;
    margin: .4em 0;
    */
}

li.red {


}



#chat-entry {
    padding: 5px 0;
    width: 100%;
    float: left;
}

#chat-entry input {
    margin: 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px;
}

#send-message {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;

    border: none;
    background-color: #F2F2F2;
    color: #e2e2e2;
    border: 6px solid #F2F2F2;
    padding: 6px;
    margin-bottom: 2px;
}


#send-message:focus, #send-message:hover {
    outline:none;
    background-color: #6D0D00;
    border-color: #6D0D00;
    color: #e2e2e2;
}


.line {
    clear: both;
}

.time_stamp {
    color:gray;
    font-size: .7em;
}

.green {
    color: #006400;
}

.red {
    color: red;
}

.yellow {
    color: #ffc609;
}

/* ==========================================================================
   jQuery UI Styling
   ========================================================================== */

#dialog-send-challenge, #dialog-reject-challenge, #dialog-new-challenge {
    display: none;
}


/* ==========================================================================
   Original Checker Game Style
   ========================================================================== */
#background { fill: #666; stroke: black; stroke-width: 2px; }
.player0   {fill: #990000; stroke: white; stroke-width: 1px; }
.player1 {fill: green; stroke: red; stroke-width: 1px; }
.htmlBlock {position:absolute;top:200px;left:300px;width:200px;height:100px;background:#ffc;padding:10px;display:none;}
body{padding:0px;margin:0px;}
.cell_white{fill:white;stroke-width:2px;stroke:red;}
.cell_black{fill:black;stroke-width:2px;stroke:red;}
.cell_alert{fill:#336666;stroke-width:2px;stroke:red;}
.name_black{fill:black;font-size:18px}
.name_orange{fill:orange;font-size:24px;}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

